@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Lato;
  
}

.App{
  background: rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width:1000px;
}

.wrapper-buscador{
  display: flex;
  background-color: #ffe600;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 1vh;

}

.buscador{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin-top:.3vh;
  margin-bottom: .3vh;
  width: 1024px;
}

.buscador--input{
  background-color: white;
  border-radius: 4px 0px 0px 4px;
  margin-left: 20px;
  padding-left: 20px;
  border-style: none  ;
  width: 100%;  
}

.lupa{
  background-color: rgb(221, 221, 221);
  height: 100%;
  padding: 14px;
  border-radius:0 5px 5px 0;
}

.wrapper--titulo--producto--imagen{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.wrapper--img{
  width: 680px;
}

.producto--pic{
  object-fit: scale-down;
  width: 680px;
  height: 500px;
}

.wrapper--main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  max-width: 1024px;
}

.categoria--producto{
  margin-bottom: 16px;
  margin-top: 16px;
  color: #999999;
  align-self: flex-start;
}

.info--producto{
  width: 291px;
  height: 291px;
  margin-left: 16px;
}

.precio{
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 18px;
  margin-bottom: 18px;
}

.categoria--nuevo--usado{
  margin-top: 16px;
  font-size: 14px;
  margin-bottom: 2px;
}

.nombre--producto{
  font-size: 24px;
  color: #333333;
  margin-top: 9px;
}

.boton--comprar{
  width: 90%;
  border-color: transparent;
  background-color: #3483fa;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s all;
}

.boton--comprar:hover{
  background-color: #66a3ff;
  color: rgb(250, 236, 236);
}

.titulo--descripcion{
  font-size: 28px;
  font-weight: 400;
}

.descripcion--producto{
  font-size: 16px;
  color: #666666;
  width: 58%;
  margin-top: 20px;
}

.Content{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper--input--buscador{
  display: flex;
  width: 94%;
  height: 46px;
}

.wrapper--categoria--main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper--descripcion{
  margin-top: 20px;
}

.resultados--img{
  width: 180px;
}

.border--detalle{
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.row--resultados{
  display: flex;
  flex-direction: row;
}

.wrapper--resultado--precio{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icono--envio{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.p--resultado{
  font-size: 24px;
}

.titulo--resultado{
  font-size: 18px;
  font-weight: 400;
}

.procedencia{
  /* border: #999999 2px solid; */
  justify-content: center;
  align-items: flex-start;
  display: flex;
  font-size: 12px;
  padding-top:35px;
  padding-right: 35px;
}

.info--resultado{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 20px;
  font-weight: lighter;
}

.wresultado{
  min-height: 10vh;
}

.noProduct{
    display: flex;
    max-width: 1018px;
    min-height: 204px;
    border-radius: 4px;
    margin: 48px auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 42px 40px 32px;
    background-color: #fff;
}

.loading{
  font-size: 20px;
  width: 700px;
}

.labelBuscador{
  cursor: pointer;
}
